Source: orange-box
Section: admin
Priority: optional
Maintainer: Dustin Kirkland <kirkland@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50~),
Standards-Version: 3.9.4
Homepage: http://launchpad.net/orange-box

Package: orange-box
Architecture: all
Pre-Depends:
 run-one,
Depends: ${misc:Depends},
 amtterm,
 apache2,
 apt-mirror,
 byobu,
 bzr,
 charm-tools,
 ccze,
 dmidecode,
 git,
 iptables-persistent,
 juju-core,
 juju-deployer,
 libglib2.0-bin,
 libvirt-bin,
 openssh-server,
 maas,
 maas-cluster-controller,
 network-manager,
 nmap,
 pastebinit,
 qemu-kvm,
 remmina,
 ubuntu-desktop,
 vim,
 virtinst,
 virt-manager,
 vlan,
 wsmancli,
 x11vnc,
Recommends:
 landscape-client,
Description: Orange Box master node easy installation
 This package can be installed on an Ubuntu Orange Box's master node
 to automatically configure MAAS and Juju.
