Source: orange-box
Section: admin
Priority: optional
Maintainer: Dustin Kirkland <kirkland@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50~),
Standards-Version: 3.9.4
Homepage: http://launchpad.net/orange-box

Package: orange-box
Architecture: all
Depends: ${misc:Depends},
 amtterm,
 apache2,
 apt-mirror,
 bzr,
 ccze,
 openssh-server,
 maas,
 maas-cluster-controller,
 run-one,
 ubuntu-desktop,
 vim,
Description: Orange Box master node easy installation
 This package can be installed on an Ubuntu Orange Box's master node
 to automatically configure MAAS and Juju.
